html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer Web Reset above */

:root {
    --dobe-rust: #CF742F;
    --right-width: 60vw;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 0.1rem;

    --theme-text: black;
    --theme-background: white;
    --theme-gradient: rgba(30, 30, 30, 0.85);
}

:root.dark {
    --theme-text: white;
    --theme-background: black;
    --theme-gradient: rgba(220, 220, 220, 0.85);
}

:root.light {
    --theme-text: black;
    --theme-background: white;
    --theme-gradient: rgba(30, 30, 30, 0.85);
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    display: flex;
    width: max(11ch, 35vw);
}

.right {
    display: flex;
    width: max(45ch, 65vw);
}

.left {
    background: url(dobe.jpg) repeat 30%;
    height: 1100px;
    font-size: clamp(40px, 8vw, 8rem);
}

.brand {
    text-align: center;
    margin-top: 15vh;
    background: black;
    color: var(--dobe-rust);
    opacity: 0.5;
    height: fit-content;
}

.right {
    width: var(--right-width);
    flex-direction: column;
    align-items: flex-start;
}

.line {
    margin-left: min(2.5ch, 3vw);
    word-wrap: wrap;
}

.right-content {
    width: clamp(250px, 50vw, 800px);
    font-size: clamp(20px, 2vw, 4vw);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.second-line {
    margin-top: min(1ch, 3vw);
}

.third-line {
    margin-top: min(3ch, 10vw);
    margin-bottom: min(3ch, 10vw);
    margin-left: min(2.5ch, 3vw);
}

.fourth-line {
    margin-top: min(3ch, 10vw);
    margin-bottom: 2.5ch;
}

.form {
    background: linear-gradient(var(--theme-background), var(--theme-gradient));
    width: 100%;
}

form {
    font-size: 1.5rem;
    display: flex;
    margin-left: clamp(0ch, 2vw, 2ch);
    margin-right: clamp(0ch, 2vw, 2ch);
    width: clamp(250px, 50vw, 100%);
    flex-wrap: wrap;
}

label {
    margin-top: 1ch;
}

.form .motivation {
    font-size: 2rem;
    margin-top: 5vh;
}

.row {
    display: flex;
    flex-direction: column;
}

.top-row,
.middle-row,
.bottom-row {
    margin-left: clamp(0ch, 2vw, 2ch);
    margin-right: clamp(0ch, 2vw, 2ch);
}

.bottom-row {
    margin-bottom: 2.5ch;
}

.create-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: clamp(10px, 1vw, 2vw);
    margin: min(2.5ch, 3vw);
}

em {
    font-style: italic;
}

input {
    border: 1px solid grey;
    border-radius: 1ch;
    width: max(20ch, 20vw);
    margin-top: 0.5ch;
    padding: 1ch;
}

input:invalid {
    border: 2px solid red;
}

input:invalid:focus {
    background-color: rgba(255, 0, 0, 0.2);
}

input:valid {
    border: 2px solid green;
}

input:valid:focus {
    background-color: rgba(0, 180, 0, 0.2);
}

input:placeholder-shown {
    border: 1px solid grey;
}

a {
    color: var(--dobe-rust);
}

.submit {
    font-size: 1.5rem;
    border-radius: 1ch;
    padding: 0.3ch;
    margin-bottom: 1ch;
    color: white;
    background-color: var(--dobe-rust);
}