html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Meyer Web Reset above */

:root {
    --dobe-rust: #CF742F;
    --dobe-rust-opacity: #cf742fa6;
    --right-width: 100%;
 
    font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 0.1rem;
}

:root.light {
    --theme-text: black;
    --theme-background: rgba(255, 255, 255, 0.4);
    --theme-gradient: rgba(30, 30, 30, 0.85);
    --background-svg: url(images/dobe-black.svg);
    --theme-toggle: url(images/moon.svg);
    --form-text: black;
    --show: url(images/show.svg);
    --hide: url(images/hide.svg);

    color: var(--theme-text);
    background-color: var(--theme-background);
}

:root.dark {
    --theme-text: var(--dobe-rust);
    --theme-background: rgba(0, 0, 0, 0.9)  ;
    --theme-gradient: rgba(100, 100, 100, 0.85);
    --background-svg: url(images/dobe-white.svg);
    --theme-toggle: url(images/sun.svg);
    --form-text: white;
    --show: url(images/show-white.svg);
    --hide: url(images/hide-white.svg);

    color: var(--theme-text);
    font-weight: bold;
    background-color: var(--theme-background);
}

.brand img {
    height: 150px;
}

.theme-toggle {
    background-image: var(--theme-toggle);
    padding: 10px;
    align-self: flex-end;
    margin: 2vh 3vh;
}

.container {
    display: flex;
}

.left {
    display: flex;
    width: max(11ch, 35vw);
    background: url(images/dobe.jpg) no-repeat center;
    background-size: cover;
    font-size: clamp(40px, 8vw, 8rem);
}

.right {
    display: flex;
    background: var(--background-svg) no-repeat center;
    width: var(--right-width);
    flex-direction: column;
    align-items: flex-start;
    height: 96vh;
}

.brand {
    font-family: "Agbalumo", "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    margin-top: clamp(1vw, 2rem, 2.5vh);
    padding-bottom: 5vh;
    background: rgba(0, 0, 0, 0.6);
    color: var(--dobe-rust);
    height: fit-content;
    font-weight: 100;
}

.right-content {
    width: clamp(250px, 50vw, 800px);
    font-size: clamp(16px, 1.5rem, 2vw);
    display: flex;
    flex-direction: column;
}

.line {
    margin-left: min(2.5ch, 3vw);
    word-wrap: wrap;
    line-height: 2ch;
}

.second-line {
    margin-top: min(1ch, 3vw);
}

.third-line {
    margin-top: min(3vw, 3ch);
    margin-bottom: min(3vw, 3ch);
    margin-left: min(2.5ch, 3vw);
}

.fourth-line {
    margin-top: min(3ch, 8vw);
    margin-bottom: 2.5ch;
}

.form {
    background: linear-gradient(var(--theme-background), var(--theme-gradient));
    width: 100%;
}

form {
    font-size: clamp(15px, 1.5rem, 1vw);
    display: flex;
    margin-left: clamp(0ch, 2vw, 2ch);
    flex-wrap: wrap;
}

label {
    margin-top: 1ch;
}

.form .motivation {
    padding-top: 5vh;
}

.column {
    display: flex;
    flex-direction: column;
}

.top-column,
.middle-column {
    margin-left: clamp(0ch, 2vw, 2ch);
    margin-right: clamp(0ch, 2vw, 2ch);
}

em {
    font-style: italic;
}

input {
    border: 1px solid grey;
    border-radius: 1ch;
    width: max(20ch, 20vw);
    margin-top: 0.5ch;
    padding: 1ch;
    color: var(--form-text);
    background-color: var(--theme-background);
}

input:invalid:focus {
    background-color: rgba(255, 0, 0, 0.2);
    color: var(--form-text);
}

input:valid:focus {
    background-color: rgba(0, 180, 0, 0.2);
    color: var(--form-text);
}

input:placeholder-shown {
    border: 1px solid grey;
}

#email:valid {
    border: 2px solid green;
}

#email:invalid {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.invalid {
    border: 2px solid red;
}

.login a {
    color: var(--dobe-rust);
    font-weight: bold;
    text-decoration-color: grey;
}

.create-login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: clamp(15px, 1.5rem, 1vw);
    margin: 9vh 3vw;
}

.submit:hover {
    border: 3px solid #FFAC00;
    box-shadow: 0px 0px 5px 5px #FFAC00;
}


.submit {
    font-size: clamp(20px, 2.5rem, 1.5vw);
    border-radius: 1ch;
    padding: 0.3ch;
    padding-right: 0.5ch;
    margin-bottom: 1ch;
    color: white;
    background-color: var(--dobe-rust);
    border: 3px solid grey;
}

.submit:active {
    border: 3px solid var(--dobe-rust);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dobe-rust-opacity);
    padding: 0.5vh; 
    height: 3vh;
}

.error-font {
    color: darkred;
    font-size: 0.8rem;
    font-weight: 800;
    padding-top: 1ch;
    align-self: center;
}

#password,
#confirm-password {
    position: relative;
}

#toggle-pass {
    bottom: 9.3vh;
}

.show,
.hide {
    padding: 7px;
    position: relative;
    bottom: 4.3vh;
    left: 19vw;
    width: 15px;
}

.show {
    background: var(--show) no-repeat center; 
}

.hide {
    background: var(--hide) no-repeat center; 
}

@media only screen and (max-width: 1920px) {

    #toggle-pass {
        bottom: 10vh;
    }
}

@media only screen and (max-width: 1300px) {

    .show,
    .hide {
        left: 18.5vw;
    } 
}

@media only screen and (max-width: 768px) {

    form {
        display: block;
    }

    input {
        width: 90%;
    }

    .show,
    .hide {
        left: 41vw;
    } 
}

@media only screen and (max-width: 500px) {

    .left,
    .brand {
        width: 140px;
        font-size: 1.5rem;
    }

    .brand img {
        height: 150px;
        width: 150px;
    }

    .brand {
        margin: 0;
        padding-bottom: 10px;
    }

    .show,
    .hide {
        left: 56vw;
    } 

}